/* div p{

    background-color:rgba(243,255,243,0.7);
    border-radius: 30px;
    border: 2px black solid;
    text-align: justify;
}
 */

.row{
    
    margin: 0px 10px 10px 10px;
    padding: 10px;
    
}

